### Description:
This script scrapes locality names from the CommonFloor Bangalore city groups page. 
It extracts area names, cleans the data by removing duplicates and irrelevant entries, 
and saves the final list to an Excel file.

### Key functionalities:
- Sends an HTTP request to the CommonFloor Bangalore city groups page.
- Parses the page using BeautifulSoup to extract area names.
- Cleans the data by removing duplicates and unwanted entries.
- Sorts the area names alphabetically.
- Saves the final list of areas to an Excel file.

In [1]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

url = "https://groups.commonfloor.com/bangalore-city"

response = requests.get(url)
soup = BeautifulSoup(response.text, "lxml")

In [2]:
Areas_in_Bangalore = soup.find_all('a' , target = '_blank' , class_ ="cf-tracking-enabled")

for i in range(len(Areas_in_Bangalore)):
    Areas_in_Bangalore[i] = Areas_in_Bangalore[i].text.strip()

In [3]:
Areas = pd.DataFrame({'Areas' : Areas_in_Bangalore}).drop_duplicates().reset_index(drop=True)

In [4]:
Areas = Areas[~Areas['Areas'].isin(['Pura', 'Alur', 'Palya', 'Karnataka Layout', 'Careers', '' , '100 Feet Road-Koramangala' , 'Electronic City Phase I' , 'Electronic City Phase II'])].sort_values(by = 'Areas').reset_index(drop=True)

In [5]:
Areas

                      Areas
0             A Dasarahalli
1            A Narayanapura
2                ACL Layout
3               AECS Layout
4     AECS Layout - A Block
...                     ...
1486        Yerthiganahalli
1487           Yeshwanthpur
1488              Yettakodi
1489         kaikondrahalli
1490               lal bagh

[1491 rows x 1 columns]

In [6]:
Areas.to_excel('Areas_in_Bangalore_City.xlsx' , index=False)