In [1]:
import pandas as pd
import numpy as np

In [2]:
dfn = pd.DataFrame()
dfs = pd.DataFrame()
dfe = pd.DataFrame()
dfw = pd.DataFrame()
dfc = pd.DataFrame()

for i in range(5,101):
    d1 = pd.read_excel(f'99acres_Bangalore_North_scraped_data/99acres_rentals_page_{i}.xlsx')
    d1.insert(1, 'Region', 'Bangalore North')
    d2 = pd.read_excel(f'99acres_Bangalore_South_scraped_data/99acres_rentals_page_{i}.xlsx')
    d2.insert(1, 'Region', 'Bangalore South')
    d3 = pd.read_excel(f'99acres_Bangalore_East_scraped_data/99acres_rentals_page_{i}.xlsx')
    d3.insert(1, 'Region', 'Bangalore East')
    dfn = pd.concat([dfn,d1] , ignore_index=True)
    dfs = pd.concat([dfs,d2] , ignore_index=True)
    dfe = pd.concat([dfe,d3] , ignore_index=True)

for i in range(5,43):
    d1 = pd.read_excel(f'99acres_Bangalore_West_scraped_data/99acres_rentals_page_{i}.xlsx')
    d1.insert(1, 'Region', 'Bangalore West')
    dfw = pd.concat([dfw,d1] , ignore_index=True)

for i in range(5,22):
    d1 = pd.read_excel(f'99acres_Bangalore_Central_scraped_data/99acres_rentals_page_{i}.xlsx')
    d1.insert(1, 'Region', 'Bangalore Central')
    dfc = pd.concat([dfc,d1] , ignore_index=True)

In [3]:
df = pd.concat([dfe,dfs,dfn,dfw,dfc],ignore_index=True)

In [4]:
df = df.iloc[np.array(~pd.DataFrame(df['Link'].str.split('-').str.get(-1)).duplicated()) , :].reset_index(drop = True)

In [5]:
df.drop(columns=['Location'] , inplace=True)

In [6]:
df['Link'] = pd.DataFrame(df['Link'].str.split('-').str.get(-1))

In [7]:
df.rename(columns= {'Link':'Property_ID'} , inplace=True)

In [8]:
df

,Property_ID,Region,Bedroom,Bathroom,Balcony,Additional_rooms,Area,Facing,Furnishing,Rating,...,Charges,Posted_By_and_On,Age,Pet_friendly,Floor,Avaliable_from,Available_for,Type,Advance,Rent
0,Q80168263,Bangalore East,4 Bedrooms,5 Bathrooms,3 Balconies,"Servant Room,Others",2100.00,East,Semifurnished,3.8,...,Charges not included,"Dealer on Feb 10, 2025",5 to 10 Year Old,Yes,3 Floors,Immediate,All,Independent House/Villa for Rent,"Rate per sq.ft. ₹ 0 per sq.ft. Brokerage₹ 1,20...",1.2 Lac
1,V79826791,Bangalore East,3 Bedrooms,3 Bathrooms,2 Balconies,NaN,1777.26,North,Semifurnished,4.1,...,Charges not included,"Dealer on Jan 25, 2025",1 to 5 Year Old,NaN,8th of 19 Floors,Immediate,Family Only,Flat/Apartment for Rent,"Rate per sq.ft. ₹ 0 per sq.ft. Maintenance₹ 5,...","43,000"
2,H80194501,Bangalore East,1 Bedroom,2 Bathrooms,1 Balcony,NaN,600.00,East,Semifurnished,NaN,...,Charges not included,"Owner on Feb 12, 2025",1 to 5 Year Old,Yes,1st of 2 Floors,Immediate,All,Independent/Builder Floor for Rent,"Rate per sq.ft. ₹ 0 per sq.ft. Deposit₹ 70,000/-","12,000"
3,Y80006619,Bangalore East,2 Bedrooms,2 Bathrooms,1 Balcony,NaN,1160.00,East,Furnished,3.9,...,Charges not included,"Dealer on Feb 03, 2025",0 to 1 Year Old,Yes,4th of 5 Floors,Immediate,All,Flat/Apartment for Rent,"Rate per sq.ft. ₹ 0 per sq.ft. Brokerage₹ 40,0...","40,000"
4,C79964125,Bangalore East,3 Bedrooms,5 Bathrooms,3+ Balconies,Servant Room,3300.00,East,Semifurnished,4.2,...,Charges not included,"Dealer on Feb 01, 2025",0 to 1 Year Old,Yes,Ground of 5 Floors,Immediate,Family Only,Flat/Apartment for Rent,Rate per sq.ft. ₹ 0 per sq.ft. Maintenance₹ 15...,1.4 Lac
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7546,R76861511,Bangalore Central,1 Bedroom,1 Bathroom,No Balcony,NaN,450.00,East,Furnished,4.4,...,Charges not included,"Owner on Feb 08, 2025",1 to 5 Year Old,NaN,Ground of 4 Floors,Immediate,All,Independent/Builder Floor for Rent,"Rate per sq.ft. ₹ 0 per sq.ft. Deposit₹ 80,000/-","16,000"
7547,E77820711,Bangalore Central,1 Bedroom,1 Bathroom,1 Balcony,"Pooja Room,Store Room",540.00,NaN,Semifurnished,3.8,...,Charges not included,"Owner on Feb 13, 2025",1 to 5 Year Old,NaN,3rd of 3 Floors,Immediate,All,Independent/Builder Floor for Rent,"Rate per sq.ft. ₹ 0 per sq.ft. Deposit₹ 75,000/-","20,000"
7548,J75525219,Bangalore Central,1 Bedroom,1 Bathroom,1 Balcony,NaN,400.00,NaN,Semifurnished,4.2,...,Charges included,"Owner on Feb 09, 2025",5 to 10 Year Old,NaN,2 Floors,Immediate,Family Only,Independent House/Villa for Rent,NaN,"12,000"
7549,B75870941,Bangalore Central,2 Bedrooms,1 Bathroom,1 Balcony,NaN,600.00,East,Semifurnished,3.7,...,Charges not included,"Owner on Feb 13, 2025",5 to 10 Year Old,Yes,2nd of 2 Floors,Immediate,All,Flat/Apartment for Rent,"Rate per sq.ft. ₹ 0 per sq.ft. Deposit₹ 50,000/-","16,000"
7550,A69559340,Bangalore Central,1 Bedroom,1 Bathroom,No Balcony,NaN,600.00,West,Semifurnished,4.0,...,Charges included,"Owner on Dec 27, 2024",0 to 1 Year Old,NaN,1 Floors,Immediate,Family Only,Independent House/Villa for Rent,NaN,"10,000"

In [9]:
df['Region'].value_counts()

Region
Bangalore East       2128
Bangalore South      2126
Bangalore North      1979
Bangalore West        908
Bangalore Central     410
Name: count, dtype: int64

In [10]:
df.to_excel('Bangalore_House_Rent_Data.xlsx', index=False)